:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

@font-face {
  font-family: "Outfit";
  src: url("/assets/fonts/outfit/static/Outfit-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/assets/fonts/outfit/static/Outfit-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/assets/fonts/outfit/static/Outfit-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "YoungSerif";
  src: url("/assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-style: normal;
}

body {
  background-color: var(--stone-100);
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
}

.card {
  background-color: var(--white);
}

h1,
h2 {
  font-family: "YoungSerif", sans-serif;
}

h1 {
  color: var(--stone-900);
  font-size: 36px;
}

h2 {
  color: var(--brown-800);
  font-size: 26px;
  margin: 28px 0 18px;
}

p {
  color: var(--stone-600);
  margin: 18px 0;
}

.preparation {
  background-color: var(--rose-50);
  padding: 18px;
}

.preparation-title {
  color: var(--rose-800);
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 0;
}

ul {
  margin-bottom: 0;
  padding-left: 1.5rem;
  list-style-type: disc;
}

li {
  margin-left: 0;
  color: var(--stone-600);
  padding-left: 1rem;
}

.preparation-ingredientes,
.preparation-instructions {
  color: var(--stone-600);
  border-bottom: solid 1.6px var(--stone-150);
}

.preparation-ingredientes ul,
.preparation-instructions ol {
  margin-bottom: 28px;
}

/* Style Order List */
.preparation-instructions ol {
  counter-reset: instruction-counter;
  padding-left: 0.5rem;
}

.preparation-instructions li {
  position: relative;
  margin-left: 0;
  padding-left: 2rem;
  list-style: none;
}

.preparation-instructions li::before {
  content: counter(instruction-counter) ". ";
  counter-increment: instruction-counter;
  font-weight: bold;
  color: var(--brown-800);
  position: absolute;
  left: 0;
  top: 0;
}

/* Style Table */
.nutrient,
.value {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
}

.nutrient {
  color: var(--stone-600) !important;
  margin-left: 60px !important;
}

.value {
  font-weight: bold;
  color: var(--brown-800) !important;
}

table.table tbody tr.last-row td {
  border-bottom: none;
}

table.table tbody tr.first-row td {
  border-top: none !important;
}

table.table tbody td:first-child {
  padding-left: 40px;
}

/* Footer */
.attribution {
  color: var(--stone-600);
  font-size: 11px;
  text-align: center;
  padding: 10px;
}

.attribution a {
  color: var(--rose-800);
}

@media (max-width: 576px) {
  .card,
  .card-img-top {
    max-width: 100%;
    width: 100%;
    margin: 0;
    border-radius: 0 !important;
  }

  .container {
    padding: 0;
  }

  body {
    margin: 0;
  }
}
